*.class
*.log
*.bak

# sbt specific
.cache/
.history/
.lib/
dist/*
target
lib_managed/
src_managed/
project/boot/
project/project
project/plugins/project/

# VSCode specific
.vscode/

# Scala-IDE specific
.scala_dependencies
.worksheet
.bloop

.idea
out

# Digital-IDE specific
netlist/

# Metals
.metals
project/metals.sbt

# Eclipse
bin/
.classpath
.project
.settings
.cache-main

#User
/*.vhd
/*.v
*.cf
*.json
*.vcd
!tester/src/test/resources/*.vhd

node_modules/
simWorkspace/
tmp/
null
